/************************************************************
 * reset
 ***********************************************************/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/************************************************************
 * base
 ***********************************************************/
body {
  background: white;
}

/************************************************************
 * game and game elements
 ***********************************************************/
.game {
  width: 80%;
  max-width: 300px;
  margin: 0 auto;
}

.game__board {
  background: #333;
  width: 100%;
  padding-bottom: 100%;
  margin: 20px 0;
}

.game__score {
  text-align: center;
}

/************************************************************
 * media queries
 ***********************************************************/
@media only screen and (min-width: 960px) {
  .game {
    max-width: 600px;
  }
}
