/************************************************************
 * reset
 ***********************************************************/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/************************************************************
 * base
 ***********************************************************/
body {
  background: #BBB;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/************************************************************
 * game and game elements
 ***********************************************************/
.game {
  width: 80%;
  max-width: 300px;
  margin: 0 auto;
}

#game__board {
  background: #333;
  width: 100%;
  margin: 20px 0;
  padding: 5px;
  overflow: auto;
  border-radius: 10px;
}

.game__score,
.tile {
  color: #333;
  font-size: 20px;
}

.game__score {
  text-align: center;
}

.tile {
  float: left;
  background: #EEE;
  margin: 5px;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
}

.tile.blank-tile {
  background: #333;
}

/************************************************************
 * media queries
 ***********************************************************/
@media only screen and (min-width: 960px) {
  .game {
    max-width: 500px;
  }
  .game__score,
  .tile {
    color: #333;
    font-size: 30px;
  }
}
